pandas
Pillow 
numpy
streamlit
opencv-python-headless  # cv2
streamlit-drawable-canvas
streamlit_code_editor
seaborn
plotly
torch
accelerate
pymongo[srv]
diffusers
matplotlib
streamlit-option-menu
PyMuPDF
streamlit-image-select
requests
groq
streamlit-navigation-bar
langchain-community
transformers
streamlit-lottie
streamlit_pdf_viewer
streamlit-modal
PyPDF2
openpyxl
streamlit_js_eval
sentence_transformers
wikipedia
Wikipedia-API